<!-- 네비바 시작-->
<nav class="navbar navbar-toggleable-md navbar navbar-inverse bg-inverse jua">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">상지대 강의평가</a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/board/lb">강의평가</a>
      </li>      
      <li class="nav-item">
        <a class="nav-link" href="/board/cb">자유게시판</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/board/qb">Q&A 게시판</a>
      </li>     
      <li class="nav-item">
        <a class="nav-link" href="/mypage/mp">내정보</a>
      </li>   
    </ul>
  </div>
</nav>
<!-- 네비바 끝-->

<!-- content start-->
<div class="container-fluid px-0 clearfix jua">
	<!-- Left Column -->

	<div class="col-sm-3 col-lg-3 mt-3 float-left clearfix">
		<!-- List-Group Panel -->
		<div class="card">
			<div class="card-header ">
				<h5 class="card-title text-center mb-0" style="textalgin:center;"><i class="fa fa-random" aria-hidden="true"></i> 강의평가 게시판</h5>
			</div>
			<div class="list-group list-group-flush">
				<a href="#" class="list-group-item list-group-item-action">교양</a>
				<a href="#" class="list-group-item list-group-item-action">교직</a>
				<a href="#" class="list-group-item list-group-item-action">전공</a>
				<a href="#" class="list-group-item list-group-item-action">특성화기초</a>
			</div>
		</div>
		<!-- List-Group panel end -->
		<div class="card">
				<div class="card-header mt-1 ">
					<h5 class="card-title text-center mb-0"><i class="fa fa-cog" aria-hidden="true"></i> 좋아요 top 게시판 </h5>
				</div>

				<div class="card-block">
					<p class="card-text">좋아요 1번</p>
					<p class="card-text">좋아요 2번</p>
					<p class="card-text">좋아요 3번</p>
					<p class="card-text">좋아요 4번</p>
					<p class="card-text">좋아요 5번</p>
					<p class="card-text">좋아요 6번</p>
					<p class="card-text">좋아요 7번</p>
					<p class="card-text">좋아요 8번</p>
				</div>
			</div>
	</div>
	<!--left column end -->
	
	<!-- right column start -->
	<!-- search bar -->
	<div class="col-sm-9 col-lg-9 float-right clearfix mt-3">
		<form class="form-inline float-right">
    		<input class="form-control mr-sm-2" type="text" placeholder="Search">
    		<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  		</form>
  	</div>
  	<!-- search bar end-->
  	<!-- content start -->
  	<div class="clearfix">
  	<div class="col-sm-9 col-lg-9 float-right mt-3">
  	    <div class="container">
          <table class="table">
            <thead class="thead-default">
                <tr>
                  <th>#</th>
                  <th>강의명</th>
                  <th><%=@post.title %></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">#</th>
                  <td>교수명</td>
                  <td><%=@post.name.html_safe%></td>
                </tr>
              </tbody>
             </table>
    <div class="container clearfix">
        <form action="/board/lshow/<%= @pname %>/<%= @post.id %>/lcomment/lcom_create">
          <div class="form-group">
            <input type="text" class="form-control col-10 float-left" id="formGroupExampleInput2" placeholder="평가를 입력하세요." name="content">
          </div>
        <input class="col-1 ml-1" type="submit" value="commit">
  		   </form>
  		<div class="card col-11">
        <div class="card-block col-11">
  		  <% @com.each do |c| %>
        <p class="col-8 float-left"><%= c.content%></p>
        <p class="col-2 float-left"> <%= c.created_at.strftime("%y/%m/%d") %></p>
        <a class="col-2 float-left"href="/board/lshow/<%=@pname%>/<%= @post.id%>/lcomment/lcom_destroy/<%=c.id%>">삭제</a>
        <% end %>
        </div>
        </div>
    </div>
</div>
</div>
</div>
<footer class="text-center">
	<div class="">
    	<div class="container">
        	<p> Team: 권현우 | <a href="#"></a> 이철승 | <a href="#">오제웅</a></p>
        	<p>Copyright &copy; 2017 </p>
        </div>
    </div>	
</footer>
        